// Variable overrides

$sidebar-dark-color:#ced2d8;

$sidebar-dark-bg :#2eb85c;

$sidebar-dark-nav-link-hover-bg:rgba(0, 0, 0, .2);

$sidebar-dark-nav-dropdown-bg:rgba(0, 0, 0, .0);

$sidebar-dark-brand-bg:rgba(rgb(199, 199, 199), 1 );